/*.bin
/*.gz
/*.m4
/*.pc
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/.test-mt
/.test-ref
/*.mode
/.deps
/config.in~
/config.in
/config
/*.prob
/dev/testvoc/.*
/dev/testvoc/testvoc-errors.glg-cat.txt
/dev/testvoc/testvoc-errors.cat-glg.txt
/dev/testvoc/testvoc-missing.glg.txt
/dev/testvoc/testvoc-missing.cat.txt
/*.hfst
/*.zhfst
/.DS_Store
/prefs
