* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-cat-glg.cat-glg.dix -text
/apertium-cat-glg.cat-glg.lrx -text
/apertium-cat-glg.cat-glg.t1x -text
/apertium-cat-glg.glg-cat.lrx -text
/apertium-cat-glg.glg-cat.t1x -text
/autogen.sh -text
/configure.ac -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.cat-glg.txt -text
dev/testvoc/testvoc-summary.glg-cat.txt -text
dev/testvoc/testvoc.sh -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/config.sh.in -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/cuento.cat.txt -text
texts/cuento.glg.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
